* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding-top: 15px;
  font-family: Roboto;
}

main {
  margin-top: 95px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
}

.modal {
  position: relative;
  padding: 40px;
  max-width: 480px;
  background-color: white;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
    width: 100%;
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .modal {
    max-width: 650px;
    max-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0, 0);
          transform: translate(-50%, -50%) scale(0, 0);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  border: 0px;
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-item {
  margin: auto;
  width: 14px;
  height: 14px;
}

.close-button:focus .close-item {
  fill: blue;
}

.form-title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: black;
  text-shadow: grey, grey;
}

@media screen and (min-width: 768px) {
  .form-title {
    line-height: 1.15;
  }
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.form-field:nth-child(-n + 5) {
  margin-bottom: 28px;
}

.form-field:nth-child(6) {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px, rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid blue;
}

.google-item {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  margin: 0;
}

header {
  position: relative;
  width: 100%;
  height: 70px;
  margin: auto;
  border-bottom: 1px solid #e2e3e5;
}

svg {
  width: 20px;
  height: 20px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
}

button:hover, button:focus {
  outline-style: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navigation_logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.search_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: 0;
  width: 69px;
  height: 70px;
}

.navigation_menu_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: 0;
  border-right: 1px solid #e2e3e5;
  width: 69px;
  height: 70px;
}

.navigation_menu_button.is_open {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  border: none;
}

.navigation_menu_button.is_open .navigation_menu_close_icon {
  display: block;
}

.navigation_menu_button.is_open .navigation_menu_open_icon {
  display: none;
}

.search_button_icon {
  fill: black;
  height: 18px;
  width: 18px;
}

.search_button.is_open {
  display: none;
  pointer-events: none;
}

.navigation_menu_close_icon {
  display: none;
}

.header_menu_container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.header_menu_container.is_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  background-color: #ffffff;
}

.header_auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 34px;
  border-top: 1px solid #E2E3E5;
  border-bottom: 1px solid #E2E3E5;
}

.header_auth > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_auth_button {
  background-color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.auth_icon {
  margin-right: 10px;
}

.category_item {
  max-height: 70px;
  border-bottom: 1px solid #E2E3E5;
  padding: 27px 34px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #000000;
}

.is_hidden {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  header {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .is_hidden {
    display: block;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1200px) {
  .contact-link-item {
    margin-top: 0;
    font-size: 12px;
  }
  header {
    width: 768px;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */