* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding-top: 15px;
  font-family: Roboto;
}

main {
  margin-top: 95px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
}

.modal {
  position: relative;
  padding: 40px;
  max-width: 480px;
  background-color: white;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
    width: 100%;
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .modal {
    max-width: 650px;
    max-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0, 0);
          transform: translate(-50%, -50%) scale(0, 0);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  border: 0px;
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-item {
  margin: auto;
  width: 14px;
  height: 14px;
}

.close-button:focus .close-item {
  fill: blue;
}

.form-title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: black;
  text-shadow: grey, grey;
}

@media screen and (min-width: 768px) {
  .form-title {
    line-height: 1.15;
  }
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.form-field:nth-child(-n + 5) {
  margin-bottom: 28px;
}

.form-field:nth-child(6) {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px, rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid blue;
}

.google-item {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

body {
  color: #000000;
}

h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.myCalls_container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .myCalls_container {
    width: 290px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .myCalls_container {
    width: 724px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .myCalls_container {
    width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.myCalls_title {
  margin-bottom: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25;
  line-height: 15px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.myCalls_item {
  position: relative;
}

.myCalls_card:hover {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

.myCalls_head-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-left-icon {
  position: absolute;
  visibility: hidden;
}

.button-right-icon {
  position: absolute;
  visibility: hidden;
}

.heart-icon {
  position: absolute;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .heart-icon {
    top: 30px;
    right: 15px;
    width: 14px;
    height: 12px;
  }
}

.heart-icon-orange {
  position: absolute;
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .heart-icon-orange {
    top: 30px;
    right: 15px;
  }
}

.edit-icon {
  position: absolute;
  visibility: hidden;
}

.fullscreen-icon {
  position: absolute;
  visibility: hidden;
}

.myCalls_card-picture:hover .heart-icon {
  visibility: initial;
}

@media screen and (min-width: 768px) {
  .myCalls_card-picture:hover .edit-icon {
    visibility: initial;
  }
}

@media screen and (min-width: 768px) {
  .myCalls_card-picture:hover .fullscreen-icon {
    visibility: initial;
  }
}

.myCalls_card-info {
  padding: 20px 19px;
}

.myCalls_product-title {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.16;
  line-height: 14px;
  letter-spacing: 0.07em;
}

.myCalls_price {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.14;
  line-height: 16px;
  letter-spacing: 0.04em;
}
/*# sourceMappingURL=main.css.map */