{{#each this}}
<div>
    <button data-close-modal class="close-button">
        <svg class="close-item">
            <use href="../images/symbol-defs-1.svg#icon-close-24px-1"></use>
        </svg>
    </button>
    <h2 class="card-product-title">Футболка спортивна</h2>
    <span class="code-of-product">Код товару | 105-С</span>
    <img class="foto-of-product" src="" alt="">
    <ul class="other-foto-of-product">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <h2 class="price-of-product">200.00 грн</h2>

    <div>
        <button>
            Информация о продавце
        </button>
        <span>
            В обране
            <svg class="modal-close-icon">
                <use href="../images/symbol-defs-1.svg#icon-heart"></use>
            </svg>
        </span>
        <span>
            Поділитися
            <svg class="modal-close-icon">
                <use href="../images/symbol-defs-1.svg#icon-share-1-1"></use>
            </svg>
        </span>

        <div>
            <span>
                Опис:
            </span>
            <p>
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
                используют
                потому, что тот обеспечивает более или менее стандартное заполнение шаблона.
            </p>
        </div>
    </div>
</div>


</div>
{{/each}}