body {
 color: #000000;
 //  background-color: grey;
}
h1,
h2,
h3 {
 margin-top: 0px;
 margin-bottom: 0px;
 padding: 0px;
}
img {
 display: block;
 max-width: 100%;
 height: auto;
}
// container
.myCalls_container {
 margin-left: auto;
 margin-right: auto;
 @media screen and (max-width: 767px) {
  width: 290px;
  padding-left: 15px;
  padding-right: 15px;
 }
 @media screen and (min-width: 768px) {
  width: 724px;
  padding-left: 22px;
  padding-right: 22px;
 }
 @media screen and (min-width: 1280px) {
  width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
 }
}

.myCalls_title {
 margin-left: 20px;
 margin-right: auto;
 @media screen and (min-width: 1280px) {
  margin-left: 28px;
  margin-right: auto;
 }
 font-family: Montserrat;
 font-style: normal;
 font-weight: bold;
 font-size: 1.25;
 line-height: 15px;
 letter-spacing: 0.09em;
 text-transform: uppercase;
}
.myCalls_list {
 display: flex;
 flex-wrap: wrap;
}
.myCalls_item {
 box-shadow: (0px 2px 4px rgba(0, 0, 0, 0.1));
 @media screen and (max-width: 767px) {
  margin-bottom: 20px;
  &:last-child {
   margin-bottom: 0;
  }
 }
 @media screen and (min-width: 768px) {
  width: calc((100% - 20px) / 2);
  margin-right: 20px;
  &:nth-child(2n) {
   margin-right: 0;
  }
 }
 @media screen and (min-width: 1280px) {
  width: calc((100% - 60px) / 4);
  &:nth-child(2n) {
   margin-right: 20px;
  }
  &:nth-child(4n) {
   margin-right: 0px;
  }
 }
}
.myCalls_card {
 width: 100%;
}
.myCalls_card:hover {
 filter: grayscale(50%);
}
.myCalls_head-title {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 25px;
 @media screen and (min-width: 768px) {
  margin-bottom: 20px;
 }
 @media screen and (min-width: 1280px) {
  margin-bottom: 15px;
 }
}
.button-left-icon {
 @media screen and (max-width: 767px) {
  position: absolute;
  visibility: hidden;
 }
}
.button-right-icon {
 @media screen and (max-width: 767px) {
  position: absolute;
  visibility: hidden;
 }
}
.heart-icon {
 position: absolute;
 visibility: hidden;
 top: 19px;
 right: 18px;
 @media screen and (max-width: 767px) {
  top: 30px;
  right: 15px;
 }
}
.heart-icon-orange {
 position: absolute;
 visibility: hidden;
 @media screen and (max-width: 767px) {
  top: 30px;
  right: 15px;
 }
 top: 15px;
 right: 15px;
}
.edit-icon {
 top: 43px;
 right: 18px;
 position: absolute;
 visibility: hidden;
}
.fullscreen-icon {
 bottom: 16px;
 right: 15px;
 position: absolute;
 visibility: hidden;
}
.myCalls_card-picture {
 position: relative;
}
.myCalls_card-picture:hover .heart-icon {
 visibility: initial;
}
// .myCalls_card-picture:hover .heart-icon-orange {
//  visibility: initial;
// }
.myCalls_card-picture:hover .edit-icon {
 @media screen and (min-width: 768px) {
  visibility: initial;
 }
}
.myCalls_card-picture:hover .fullscreen-icon {
 @media screen and (min-width: 768px) {
  visibility: initial;
 }
}
// .heart-icon:active
// .heart-icon:focus {
//  fill: #ff6b09;
// }
// .heart-icon:hover .heart-icon-orange {
//   visibility: initial;
// }
.myCalls_card-info {
 padding: 20px 19px;
}
.myCalls_product-title {
 margin-bottom: 4px;

 font-family: Roboto;
 font-style: normal;
 font-weight: 300;
 font-size: 1.16;
 line-height: 14px;
 letter-spacing: 0.07em;
}
.myCalls_price {
 font-family: Roboto;
 font-style: normal;
 font-weight: bold;
 font-size: 1.14;
 line-height: 16px;
 letter-spacing: 0.04em;
}
